/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 jun 2024, 15:04:48
    Author     : Jorge Armando J
*/



:root {
  --color-prymary: #07D13B;
  --color-black: #000000;
  --color-border: #51FF00;
  --color-white: #FFFFFF;
  --color-subtitle-blue: #2980b9;
  --color-text-black: #000000;
  --color-blue: #0009E7;
}


.container-all-cards {
  width: 100%;

}

:not(.exclude-styles) .row {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}


:not(.exclude-styles) .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


/*Cards Peoples*/

.cards-peoples {
  /*Esto es para dar formato responsive a las cards*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}




/* Esta parte es el cuerpo de las tarjetas individuales */
:not(.exclude-styles) .card-people {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 30px;
  padding: 20px;
  margin-left: 10px;
  transition: width 0.3s;
}

/*End*/


.card-people * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}


.card-people figcaption {
  width: 100%;
  background-color: transparent;
  padding: 25px;
  position: relative;
}



/*Tener en cuenta los colores*/



/* Para el estilo de los botones borde color y tamaño*/
.card-people figcaption a {
  padding: 5px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}



/*Formato de texto */
.card-people h2 {
  margin: 0 0 5px;
  font-weight: 300;
}

.card-people h2 span {
  display: block;
  font-size: 0.5em;
  color: var(--color-subtitle-blue);
}

.card-people p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;


  width: 250px;
  /* Anchura fija */
  height: auto;
  /* Altura fija */
  overflow: hidden;
  display: -webkit-box;
  /* Soporte para truncamiento de líneas */
  -webkit-box-orient: vertical;
  /* Orientación vertical */
  text-overflow: ellipsis;
  /* Añade puntos suspensivos al texto desbordante */
  word-wrap: break-word;
  border: 1px solid #000;
  /* Opcional: añadir borde para visualización */
  /* Espaciado interno */
  box-sizing: border-box;
}

/*End*/

.section-title-white {
  font-size: 30px;
  font-family: 'Arial';
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.title-coordinadores {
  margin-top: 8px;
}

.card-text-test {
  display: none;
}


/*Ends Cards Peoples*/


/*Funcion de botones info y Follow*/


.btn-card {
  display: flex;
}

.card-people .follow {
  margin-right: 4%;
  border-color: blue;
  color: blue;
}

.card-people figcaption .info {
  padding: 5px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
}

.btn-card .follow {
  padding: 5px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  margin-right: 4%;
}

.btn-card .info {
  padding: 5px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
}

.info:hover {
  color: var(--color-prymary);
  border: 2px solid var(--color-prymary);
  opacity: 1;
}

.follow:hover {
  color: var(--color-prymary);
  opacity: 1;
  border: 2px solid var(--color-prymary);
}

.card-people figcaption .info:hover {
  color: var(--color-prymary);
  border: 2px solid var(--color-prymary);
  opacity: 1;
}

/*End*/






/*Ventana Emergente JavaScript*/
.popup-container {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  overflow-y: auto;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s ease;
  text-align: justify;
  max-height: 80%;
  /* Limit the height to 80% of the viewport */
  overflow-y: auto;
  /* Add this to enable vertical scrolling */
}

.popup-container.active .popup-content {
  transform: scale(1);
  opacity: 1;
}

.close-popup {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-popup:hover {
  color: #333;
}

#popup-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.popup-title {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 15px;
}

/* Asegúrate de ajustar cualquier otro estilo necesario para el footer aquí */
.custom-footer .row {
  align-items: initial;
}

.custom-footer p {
  text-align: justify;
}

/* Añade aquí cualquier otro estilo que necesites restablecer para el footer */

/*End*/