.header {
    background-image: url(assets/img-universitario/SuperacionPersonal1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Linea que aparece debajo de las cards*/
.linear-white::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #ffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*Section Comments*/
.comments {
    background-image: url(assets/img-universitario/SuperacionPersonal6.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

/*Ajustar la linea blanca encima de la foto*/
.comments.linear-white::after {
    top: 0;
}

/*Ajustar la foto del comentarista*/
.commets_img {
    --tamano: 80px;
    width: var(--tamano);
    height: var(--tamano);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
    border: 3 px ridge #ffff;
}

.transform-turn {
    transform: rotate(0.5turn);
}

.media-object-img {
    --tamano: 65px;
    width: var(--tamano);
    height: var(--tamano);
    margin-right: 15px;
    float: left;
}
